body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  min-width: 360px;
  color: grey;
}

.app__background {
  height: 100vh;
  background:  linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9) 5%,
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0, 0, 0, 0.2) 80%,
    rgba(0, 0, 0, 1) 100%
  ),
    url(../assets/images/banner/banner1.png);
  background-size: cover;
}

.app__content {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 0 48px;
}

/*NAVEGAÇÃO*/
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.navigation-left {
  width: 40%;
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
}

.menu-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
  font-family: inherit;
  font-size: 14px;
}

.menu-list li,
 .user-navigation li {
  cursor: pointer;
  white-space: nowrap;
}

.navigation-right {
  display: flex;
  align-items: center;
  width: 10%;
}

.user-navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;  
}

.user-menu {
  display: flex;
  flex-wrap: nowrap;
}

.avatar {
  width: 32px;
  border-radius: 2px;
}

a {
  color: inherit;
}

.menu-list li:hover,
  .user-navigation svg:hover {
  color: rgba(255, 255, 255, 0.8);
  fill: rgba(255, 255, 255, 0.8);
}

/*BANNER*/
.banner-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px 0 50px 0;
}

.banner-title {
  min-width: 360px;
  max-width: 550px;
}

.banner-content {
  color: white;
  line-height: 1.25;
  padding: 16px 0 32px 0;
  min-width: 360px;
  max-width: 550px;
  font-size: 20px;
}

.banner_buttons {
  display: flex;
  justify-content: space-between; 
  max-width: 450px;
}

.play-button,
 .info-button {
  display: flex;
  align-items: center;
  padding: 10px 32px;
  margin-right: 16px;
  border-radius: 2px;
  border: solid transparent;
  cursor: pointer;
}

.play-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.info-button {
  color: white;
  background-color: rgba(109, 109, 110, 0.7);
}

.description-button {
  width: 100%;
  margin-left: 4px;
  font-weight: 700;
  font-size: 18px;
}

.info-button:hover {
  background-color: rgba(109, 109, 110, 0.5);
}

/*CARROSSEL*/
.category {
 max-height: 200px;
}

.category-title {
  color: #e5e5e5;
  font-size: 18px;
  font-weight: 600;
  margin-top: 24px;
}

.carousel {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin: 18px 0;
  grid-template-rows: 150px;
  gap: 8px;
}

.carousel-item {
  place-self: center;
  transition: all 200ms;
}

.carousel-item img {
  width: 100%;
}

.-animation:hover {
  cursor: pointer;
  scale: 1.2;
  margin: 0 40px;
}

/*CARROSSEL MÓVEL*/
.scroll {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  overflow: hidden;
  scroll-behavior: smooth;
}

#section1,
  #section2,
    #section3 {
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(5, auto);
      margin: 20px 0;
      
    }


/*BOTÃO CARROSSEL*/

.arrow-button {
  height: 200px;
  position: absolute;
  background: rgb(0, 0, 0);
  width: 80px;
  padding: 65px 20px;
  align-self: center;
  z-index: 1;
}

.arrow {
  opacity: 0.6;
  width: 100%;
}

.arrow-button:first-of-type {
  position: absolute;
  left: 0;
  background: linear-gradient(
    -90deg,
    transparent 0%,
    black 100%
  );
}

.arrow-button:last-of-type {
  position: absolute;
  right: 0;
  background: linear-gradient(
    90deg,
    transparent 0%,
    black 100%
  );
}

.arrow:hover {
    opacity: 1;
  }

/*FOOTER*/
footer {
  margin-top: 24px;
  font-size: 14px;
}

.social-medias {
  display: flex;
}

.social-medias ul {
  display: flex;
}

.media {
  padding-right: 32px;
}

.interprise-infos {
  margin-top: 32px;
}

.interprise-infos ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 8px 16px;
}

.interprise-infos li {
  padding: 2px;
}

.codigo {
  margin-top: 32px;
  
}

.codigo a {
  border: solid 1px grey;
  padding: 8px;
  width: 100%;
  display: inline;
}

.copyright {
  margin-top: 32px;
  padding-bottom: 12px;
}

a > svg:hover {
  fill:  rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.interprise-infos li:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
}

.codigo a:hover {
  color: rgba(255, 255, 255, 0.8);
  border-color: rgba(255, 255, 255, 0.8);
}